{% extends 'base.html' %}

{%block content%}
<h1 class="my-4">Gran variedad de cubos de rubik al mejor precio</h1>

<div class="col-4">
    <div class="card h-100">
        <img src="../static/img/segura.jpg"
             class="card-img-top"
             height="50%">
        <div class="card-body">
            <h5 class="card-title">Protegemos tu cuenta</h5>
            <p class="card-text">Cuidamos tus datos y nos encargamos de que todo esté en orden. </p>
        </div>
    </div>
</div>
<div class="col-4">
    <div class="card h-100">
        <img src="../static/img/atencion.jpg"
             class="card-img-top"
             height="50%">
        <div class="card-body">
            <h5 class="card-title">Atención personalizada</h5>
            <p class="card-text">Estamos siempre para ayudarte con cualquier duda. </p>
        </div>
    </div>
</div>
<div class="col-4">
    <div class="card h-100">
        <img src="../static/img/envios.jpg"
             class="card-img-top"
             height="50%">
        <div class="card-body">
            <h5 class="card-title">Envíos a todo el país</h5>
            <p class="card-text">Pide lo que quieras y te lo llevamos hasta la puerta de tu casa. No importa en que parte del país te encuentres.</p>
        </div>
    </div>
</div>
{%endblock  content%}