flask
flask-sqlalchemy
flask-security
email-validator
mysqlclient
flask-marshmallow
bcrypt
lick
colorama
dnspython
dominate
email-validator
Flask
flask-blueprint
Flask-Bootstrap
Flask-BS4
Flask-WTF
html5
idna
itsdangerous
Jinja2
MarkupSafe
six
visitor
webencodings
Werkzeug
WTForms


