{% extends "base.html" %}

{% block content %}
<h1 class="my-4">Registro</h1>

{%with messages = get_flashed_messages()%}
{% if messages %}
{% for message  in messages  %}
<div class="alert alert-danger alert-dismissible fade show mt-4"
     role="alert">
    {{message}} . Ir a <a href="{{ url_for('auth.login') }}">login</a>.
    <button type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{%endwith%}
<form method="POST"
      action="/security/register">
    <div class="my-3">
        <label for="exampleFormControlInput1"
               class="form-label">Correo</label>
        <input type="email"
               class="form-control"
               name="email"
               required
               id="exampleFormControlInput1"
               placeholder="Correo">
    </div>
    <div class="my-3">
        <label for="nombre"
               class="form-label">Nombre</label>
        <input type="text"
               class="form-control"
               name="name"
               required
               id="nombre"
               placeholder="Nombre">
    </div>
    <div class="mb-3">
        <label for="password"
               class="form-label">Password</label>
        <input type="password"
               class="form-control"
               name="password"
               required
               id="password"
               placeholder="Password">
    </div>
    <input class="btn btn-primary"
           type="submit"
           value="Entrar">
</form>
{% endblock %}